<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
    </configSections>

    <connectionStrings>
        <remove name="DefaultConnection" />
        <!-- Remote MS SQL Server (Somee.com) -->
        <add name="DefaultConnection"
             connectionString="workstation id=shifathasan.mssql.somee.com;packet size=4096;user id=ShifatHasanGNS_SQLLogin_2;pwd=cilaysmuks;data source=shifathasan.mssql.somee.com;persist security info=False;initial catalog=shifathasan;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <!-- Admin Access Info -->
        <add key="AdminId" value="professorparadox" />
        <add key="AdminPasskey" value="admin123" />

        <!-- Email Configuration Settings -->
        <add key="SmtpHost" value="smtp.gmail.com" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpEnableSsl" value="true" />
        <add key="SmtpUserName" value="shifathasan.pro@gmail.com" />
        <add key="SmtpPassword" value="mwwryznuqpteoedm" />
        <add key="EmailFromAddress" value="shifathasan.pro@gmail.com" />
        <add key="EmailFromName" value="Md. Shifat Hasan" />
        <add key="AdminNotificationEmail" value="shifathasan.pro@gmail.com" />

        <!-- Security Settings -->
        <add key="MaxLoginAttempts" value="5" />
        <add key="LoginLockoutMinutes" value="30" />
        <add key="SessionTimeoutMinutes" value="30" />

        <!-- Application Settings -->
        <add key="ApplicationName" value="portfolio" />
        <add key="SupportEmail" value="professorparadox01@gmail.com" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="3600" />

        <sessionState
            mode="InProc"
            cookieless="false"
            timeout="30"
            cookieName="ASP.NET_SessionId"
            regenerateExpiredSessionId="false" />

        <!-- Pages configuration -->
        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />

        <!-- Authentication configuration (optional - for additional security) -->
        <authentication mode="Forms">
            <forms
                loginUrl="~/Pages/Admin/Login.aspx"
                timeout="30"
                name="AdminAuth"
                protection="All"
                slidingExpiration="true"
                cookieless="false"
                enableCrossAppRedirects="false" />
        </authentication>

        <machineKey
            validationKey="[generate a 128-hex character key]"
            decryptionKey="[generate a 48-hex character key]"
            validation="HMACSHA256"
            decryption="AES" />

        <!-- Trust level -->
        <trust level="Full" />
    </system.web>

    <!-- SMTP Configuration (Alternative to code-based configuration) -->
    <system.net>
        <mailSettings>
            <smtp from="shifathasan.pro@gmail.com" deliveryMethod="Network">
                <network host="smtp.gmail.com" port="587" userName="shifathasan.pro@gmail.com"
                         password="mwwryznuqpteoedm" enableSsl="true" />
            </smtp>
        </mailSettings>
    </system.net>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <provider invariantName="MySql.Data.MySqlClient"
                      type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.33.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </providers>
    </entityFramework>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
                 description=".Net Framework Data Provider for MySQL"
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.33.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>

    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                      compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
                      compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </compilers>
    </system.codedom>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.33.0" newVersion="8.0.33.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Root to Home" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/Pages/Home.aspx" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="Pages/Home.aspx" />
                <add value="Pages/Admin/Login.aspx" />
                <add value="Pages/Admin/AdminDashboard.aspx" />
            </files>
        </defaultDocument>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <!-- URL Rewrite Rules (optional) -->
        <rewrite>
            <rules>
                <rule name="AdminDashboardSecurity" stopProcessing="true">
                    <match url="^AdminDashboard\.aspx$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern=".*" />
                    </conditions>
                    <action type="Redirect" url="/Pages/Admin/Login.aspx?msg=access" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>

        <!-- Error Pages -->
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/Pages/Home.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>