<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
    </configSections>

    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PortfolioDev.mdf;Integrated Security=True;Connect Timeout=30;Command Timeout=60;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <!-- Debug Admin Configuration -->
        <add key="AdminId" value="dev_admin" />
        <add key="AdminPasskey" value="dev123" />

        <!-- Debug Email Configuration (No real emails sent) -->
        <add key="SmtpHost" value="localhost" />
        <add key="SmtpPort" value="25" />
        <add key="SmtpEnableSsl" value="false" />
        <add key="SmtpUserName" value="dev@localhost.com" />
        <add key="SmtpPassword" value="dev_password" />
        <add key="EmailFromAddress" value="dev@localhost.com" />
        <add key="EmailFromName" value="Development Portfolio" />
        <add key="AdminNotificationEmail" value="admin@localhost.com" />

        <!-- Relaxed Security for Development -->
        <add key="MaxLoginAttempts" value="999" />
        <add key="LoginLockoutMinutes" value="1" />
        <add key="SessionTimeoutMinutes" value="120" />

        <!-- Development Application Configuration -->
        <add key="ApplicationName" value="portfolio_dev" />
        <add key="SupportEmail" value="support@localhost.com" />

        <!-- Debug Flags -->
        <add key="DebugMode" value="true" />
        <add key="EnableDetailedErrors" value="true" />
        <add key="LogAllQueries" value="true" />
    </appSettings>

    <system.web>
        <compilation debug="true" 
                    targetFramework="4.8" 
                    tempDirectory="~/App_Data/Temp/"
                    strict="false"
                    explicit="true" />

        <customErrors mode="Off" />

        <httpRuntime targetFramework="4.8" 
                    maxRequestLength="102400" 
                    executionTimeout="600"
                    enableVersionHeader="true"
                    requestValidationMode="2.0" />

        <sessionState mode="InProc"
                     cookieless="false"
                     timeout="120"
                     cookieName="DEV_SessionId"
                     regenerateExpiredSessionId="false"
                     cookieTimeout="120"
                     httpOnlyCookies="false" />

        <pages controlRenderingCompatibilityVersion="4.0" 
               clientIDMode="AutoID"
               enableViewState="true"
               enableViewStateMac="false"
               validateRequest="false" />

        <authentication mode="Forms">
            <forms loginUrl="~/Pages/Admin/Login.aspx"
                   timeout="120"
                   name="DevAdminAuth"
                   protection="All"
                   slidingExpiration="true"
                   cookieless="UseCookies"
                   enableCrossAppRedirects="false"
                   requireSSL="false" />
        </authentication>

        <authorization>
            <allow users="*" />
        </authorization>

        <trust level="Full" />

        <httpCookies httpOnlyCookies="false" requireSSL="false" />

        <trace enabled="true" 
               pageOutput="false" 
               requestLimit="40" 
               localOnly="false"
               writeToDiagnosticsTrace="true" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="dev@localhost.com" deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="~/App_Data/Mail/" />
            </smtp>
        </mailSettings>
    </system.net>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Pages/Home.aspx" />
                <add value="default.htm" />
            </files>
        </defaultDocument>

        <httpProtocol>
            <customHeaders>
                <add name="X-Debug-Mode" value="true" />
                <add name="X-Environment" value="Development" />
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <rule name="Root to Home (Dev)" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="Pages/Home.aspx?debug=true" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

        <!-- Development: No compression for easier debugging -->
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />

        <!-- Enable detailed IIS errors -->
        <asp scriptErrorSentToBrowser="true" />
    </system.webServer>

    <system.diagnostics>
        <trace autoflush="false" indentsize="4">
            <listeners>
                <add name="myListener" 
                     type="System.Diagnostics.TextWriterTraceListener" 
                     initializeData="~/App_Data/Logs/debug.log" />
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>