<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <connectionStrings>
        <add name="DefaultConnection" connectionString="workstation id=shifathasan.mssql.somee.com;packet size=4096;user id=ShifatHasanGNS_SQLLogin_2;pwd=cilaysmuks;data source=shifathasan.mssql.somee.com;persist security info=False;initial catalog=shifathasan;TrustServerCertificate=True;Connection Timeout=30;Command Timeout=60;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <!-- Admin Configuration -->
        <add key="AdminId" value="professorparadox" />
        <add key="AdminPasskey" value="admin123" />

        <!-- Email Configuration -->
        <add key="SmtpHost" value="smtp.gmail.com" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpEnableSsl" value="true" />
        <add key="SmtpUserName" value="shifathasan.pro@gmail.com" />
        <add key="SmtpPassword" value="mwwryznuqpteoedm" />
        <add key="EmailFromAddress" value="shifathasan.pro@gmail.com" />
        <add key="EmailFromName" value="Md. Shifat Hasan" />
        <add key="AdminNotificationEmail" value="shifathasan.pro@gmail.com" />

        <!-- Security Configuration -->
        <add key="MaxLoginAttempts" value="5" />
        <add key="LoginLockoutMinutes" value="30" />
        <add key="SessionTimeoutMinutes" value="30" />

        <!-- Application Configuration -->
        <add key="ApplicationName" value="portfolio" />
        <add key="SupportEmail" value="professorparadox01@gmail.com" />
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.8" tempDirectory="~/App_Data/Temp/" />
        <customErrors mode="On" defaultRedirect="~/Pages/Error.aspx" />
        <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" enableVersionHeader="false" requestValidationMode="4.5" />

        <sessionState mode="InProc" cookieless="false" timeout="30" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="true" />

        <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" enableViewState="false" enableViewStateMac="true" />

        <authentication mode="Forms">
            <forms loginUrl="~/Pages/Admin/Login.aspx" timeout="30" name="AdminAuth" protection="All" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false" requireSSL="false" />
        </authentication>

        <authorization>
            <allow users="*" />
        </authorization>

        <trust level="Full" />

        <httpCookies httpOnlyCookies="true" requireSSL="false" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="shifathasan.pro@gmail.com" deliveryMethod="Network">
                <network host="smtp.gmail.com" port="587" userName="shifathasan.pro@gmail.com" password="mwwryznuqpteoedm" enableSsl="true" defaultCredentials="false" />
            </smtp>
        </mailSettings>
    </system.net>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Pages/Home.aspx" />
            </files>
        </defaultDocument>

        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';" />
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <rule name="Root to Home" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="Pages/Home.aspx" redirectType="Permanent" />
                </rule>
                <rule name="Admin Security" stopProcessing="true">
                    <match url="^AdminDashboard\.aspx$" />
                    <action type="Redirect" url="Pages/Admin/Login.aspx?msg=access" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="404" path="/Pages/Error.aspx" responseMode="ExecuteURL" />
            <error statusCode="500" path="/Pages/Error.aspx" responseMode="ExecuteURL" />
        </httpErrors>

        <httpCompression directory="%SystemDrive%\iis_logs\IISTemporaryCompressedFiles">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
            </staticTypes>
        </httpCompression>

        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=/&quot;Web/&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>